.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pokemonContainer {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.opponent {
    margin-left: auto;
}

.user {
    margin-right: auto;
}

.heading {
    text-align: center;
    padding: 0;
    margin: 0;
}

.playerHit {
    color : #76d275;
}

.opponentHit {
    color: firebrick;
}
