@keyframes swordsAnimation {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.swords {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.swordsAttack {
    position: absolute;
    animation: swordsAnimation 1s, 1s;
}
